* {
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$surface-0: #FFF;
$surface-1: #FFF;
$surface-2: #333;

$stroke-0: #EDEDED;
$stroke-1: #D4D4D4;

$text-0: #999999;
$text-1: #000000;

$accent-0: #03D0B8;
$accent-1: #00FFE0;

$layer-0: rgba(0, 0, 0, 3%);
$layer-1: rgba(0, 0, 0, 10%);

$control-h-padding: 20px;
$control-v-padding: 10px;
$control-padding: $control-v-padding $control-h-padding;

$control-g-padding: 6px;

$font: JetBrains Mono;
$size: 11px;